<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ApplicationDbContext" connectionString="Server=DESKTOP-97DF3IJ\NEWSQLEXPRESS;Database=DbInstallments;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>